# Entorno virtual
venv/
env/
.venv/

# Bytecode y cache de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env
.env.*

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Entornos y herramientas
.eggs/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
